<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
	<localRepository>D:/soft/apache-maven-3.8.2/repository/</localRepository>
	<pluginGroups>
	
	</pluginGroups>
	<proxies>
	
	</proxies>
	<servers>
		<server>
			<id>rdc-releases</id>
			<username>x5uHrK</username>
			<password>l8kcvRD4tJ</password>
		</server>
		<server>
			<id>rdc-snapshots</id>
			<username>x5uHrK</username>
			<password>l8kcvRD4tJ</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>mirror</id>
			<mirrorOf>central,jcenter,!rdc-releases,!rdc-snapshots,!spring</mirrorOf>
			<name>mirror</name>
			<url>https://maven.aliyun.com/repository/public</url>
		</mirror>
	</mirrors>
	<profiles>
		<!--  引入私服-下载依赖  -->
		<profile>
			<id>maven-nexus</id>
			<repositories>
				<repository>
					<id>rdc-releases</id>
					<name>release</name>
					<url>https://packages.aliyun.com/maven/repository/2154147-release-V47uCF/</url>
				</repository>
				<repository>
					<id>rdc-snapshots</id>
					<name>release</name>
					<url>https://packages.aliyun.com/maven/repository/2154147-snapshot-U3Hxmy/</url>
				</repository>
				<repository>
					<id>spring</id>
					<url>https://maven.aliyun.com/repository/spring</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>maven-spring</id>
			<repositories>
				<repository>
					<id>spring</id>
					<url>https://maven.aliyun.com/repository/spring</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>rdc</id>
			<properties>
				<altReleaseDeploymentRepository>
        rdc-releases::default::https://packages.aliyun.com/maven/repository/2154147-release-V47uCF/
      </altReleaseDeploymentRepository>
				<altSnapshotDeploymentRepository>
        rdc-snapshots::default::https://packages.aliyun.com/maven/repository/2154147-snapshot-U3Hxmy/
      </altSnapshotDeploymentRepository>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>rdc</activeProfile>
		<activeProfile>maven-nexus</activeProfile>
		<activeProfile>maven-spring</activeProfile>
	</activeProfiles>
</settings>
